.grid {
	@extend %clearfix;
	margin-left: rhythm(-2);
}

.grid-item {
	float: left;
	padding-left: rhythm(2);
}

@for $i from 2 through 6 {

	.grid-#{$i} > .grid-item {
		width: percentage(1/$i);
	}

}